html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style:none;
	
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
}

/*--------code starts here----------*/

#main{
	width:300px;
	height:450px;
	margin:0 auto;
	margin-top:100px;
	background-color:gray;
	border:1.5px solid black;

	
	display:grid;
	grid-template-columns:repeat(4, 75px);
	grid-template-rows:repeat(6, 75px);

}
.oneRow{
	grid-column: 1 / 5;
	display:flex;
}

button{
	width:25%;
	box-sizing:border-box;
}

#ekran{
	width:100%;
}

.twoCol{
	width:50%;
}

.op{
	background-color: #666666;
	font-family: 'Mukta Vaani', sans-serif;
	font-size: 26px;
}
#sum{
	background-color: #336699;
	font-family: 'Mukta Vaani', sans-serif;
	font-size: 32px;
}

.number{
	background-color:#999999;
	font-family: 'Mukta Vaani', sans-serif;
	font-size: 20px;
}

#clearall{
	background-color:#666666;
	font-family: 'Mukta Vaani', sans-serif;
	font-size: 25px;
}

#ekran{
	font-family: 'Mukta Vaani', sans-serif;
	font-size: 22px;
	background-color: hsl(0, 0%, 95%)

}

button{
	border:collapse;
	transition-duration:0.4s;

}

.op:hover{
	background-color:white;
}
#sum:hover{
	background-color:white;
}
#clearall:hover{
	background-color:white;
}
.number:hover{
	background-color:white;
}

.op:focus{
	outline:0;
}
#sum:focus{
	outline:0;
}
#clearall:focus{
	outline:0;
}
.number:focus{
	outline:0;
}

